---
http_interactions:
- request:
    method: post
    uri: https://sns.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=GetTopicAttributes&TopicArn=arn%3Aaws%3Asns%3Aus-east-1%3A000000000000%3Aupdate_price&Version=2010-03-31
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190702T211131Z
      X-Amz-Content-Sha256:
      - 369593f13ccf688449ef571d6ff705723a5e9e9f2577bbf7da349754b346a5c3
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 25701ae1-7b95-5543-a986-4f74b156585b
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <GetTopicAttributesResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <GetTopicAttributesResult>
            <Attributes>
              <entry>
                <key>Policy</key>
                <value>{&quot;Version&quot;:&quot;2008-10-17&quot;,&quot;Id&quot;:&quot;__default_policy_ID&quot;,&quot;Statement&quot;:[{&quot;Sid&quot;:&quot;__default_statement_ID&quot;,&quot;Effect&quot;:&quot;Allow&quot;,&quot;Principal&quot;:{&quot;AWS&quot;:&quot;*&quot;},&quot;Action&quot;:[&quot;SNS:GetTopicAttributes&quot;,&quot;SNS:SetTopicAttributes&quot;,&quot;SNS:AddPermission&quot;,&quot;SNS:RemovePermission&quot;,&quot;SNS:DeleteTopic&quot;,&quot;SNS:Subscribe&quot;,&quot;SNS:ListSubscriptionsByTopic&q[...]
